@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

:root {
    --almost-black: #071013; /* Body e Nav.*/
    --darker-purple: #211835;
    --light-purple: #4c2f6b; /* Sobre nós, Itens de Soluções, Form.*/
    --purple: #392054; /* Nosso prêmios, Footer.*/
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: white;
    margin: 0;
    padding: 0;
}

.kleytin-logo {
    font-family: 'Ephesis', cursive;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    text-align: center;
    font-size: 4em;
    padding: 0;
    margin: 30px 0;
}

header {
    display: flex;
    background-color: var(--almost-black);
    padding: 0.7em 0;
    margin: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    padding: 7px;
}

#about-us {
    padding-bottom: 30px;
    background-color: var(--darker-purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text p {
    text-align: center;
    margin-bottom: 20px;
}

.about-images {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.about-images img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px;
    display: inline-block;
}

#our-services {
    background-color: var(--almost-black);
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.service-card {
    background-color: var(--darker-purple);
    padding: 50px;
    border-radius: 10px;
}

.service-card h2 {
    text-align: center;
}

.service-card p {
    text-align: justify;
}

.service-card span {
    font-size: 60px;
    color: #ffff00;
}

.service-card .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 3px solid #ffff00;
    border-radius: 50%;
    background-color: transparent;
    margin: 0 auto 10px;
}

.service-card button {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--almost-black);
    background-color: #ffff00;
    border-radius: 10px;
}

.service-card button:hover {
    cursor: pointer;
}

#achievements {
    background-color: var(--purple);
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.achievement-item {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--light-purple);
    width: 60%;
    margin: 0 auto 25px;
    padding: 45px;
    border-radius: 10px;
}

.achievement-item .item-1 {
    color: #ffff00;
    font-size: 60px;
}

.achievement-item .item-2 {
    color: white;
    font-size: 50px;
}

.achievement-item .item-3 {
    color: #00ff00;
    font-size: 50px;
}

footer {
    background-color: var(--purple);
}

footer .footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 30px;
}

.footer-links > * {
    margin-top: 20px;
}

.language label, .language select {
    display: block;
    margin-bottom: 10px;
}

.socials h3, .other-pages h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.social-links a, .pages-links a {
    display: block;
}

.pages-links a:hover {
    text-decoration: underline;
}

.footer-credits {
    display: flex;
    justify-content: space-evenly;
}

.footer-credits #heart {
    color: red;
}